@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14pt;
}

window#waybar {
  background: @surface_container;
  border: 2px solid @secondary_fixed_dim;
  border-radius: 8px;
}

tooltip {
  background: @surface_container;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

tooltip label {
  color: @primary;
}

#workspaces button {
  color: #A1BDCE;
  box-shadow: none;
  text-shadow: none;
  transition: 0.4s ease;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
}

#workspaces button.empty {
  color: #38384a;
}

#workspaces button.active {
  color: @primary;
}

#workspaces button:hover {
  background: none;
  color: @primary_fixed;
}

#workspaces button label {
  font-size: 20pt;
}

#clock,
#battery,
#memory,
#cpu,
#backlight,
#wireplumber,
#network,
#disk,
#temperature {
  color: @primary;
  margin-left: 12px;
  margin-right: 12px;
}

#disk {
  color: @tertiary_fixed_dim;
}

#memory {
  color: @primary_fixed;
}

#cpu {
  color: @secondary_fixed;
}

#temperature {
  color: @tertiary_fixed_dim;
}

#network {
  color: @secondary_fixed_dim;
}

#backlight {
  color: @tertiary;
}

#wireplumber {
  color: @secondary;
}

#battery {
  color: @primary;
}

#clock {
  color: @primary_fixed;
}

#custom-right-pad {
  margin-right: 2px;
}

#custom-left-pad {
  margin-left: 2px;
}

#custom-separator {
  font-size: 18pt;
}
